.inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 76px;
    width: 26.59%;
    position: relative;
}

.inputText,
.select,
.inputMoney {
    height: 40px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    opacity: 1;
    padding: 10px;
}

.label {
    width: 62px;
    height: 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    opacity: 1;
}

@media (max-width: 375px) {
    .inputContainer {
        width: 279px;
    }
    
}
