.conversionTitle {
  position: absolute;
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
  height: 33px;
  width: 87.97%;
  top: 123px;
  left: 6.01%;
  gap: 0px;
  opacity: 0px;
  z-index: 1;
}

@media (max-width: 375px) {
  .conversionTitle {
    top: 90px;
  }
  
}